# Python temporary files and folder
__pycache__/
*.py[cod]

# Ignore folder for virtual enviroment
venv/

# IDEA settings
.idea/

# coverage files
.coverage

# SQLite files
*.db

# Logging folders
server/log/
test/log/

# Mac specific
.DS_Store

